

h2{
    color: rgb(28, 204, 163);
    text-align: center;
    font-weight: 600;
}

li{
    color:white;
    align-items:center;
    font-size: x-large;
    font-weight: 700;
    
}

h1{
    color:wheat;
    text-align: center;
}

